html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    margin: 0;
}

h1 {
    font-size: 4.6rem;
}

ul>li {
    font-weight: 700;
    font-size: 3.6rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 2rem;
}

li>a {
    font-weight: 700;
    font-size: 2.6rem;
    text-decoration: none;
}

img~figcaption {
    font-size: 1.6rem;
    font-family: Georgia, 'Times New Roman', Times, serif
}

header p {
    font-size: 1.6rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}

nav {
    background-color: aqua;
    display: flex;
}

nav>a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

nav>a:hover {
    background-color: blue;
}

figure .banano {
    color: brown;
    font-size: 2.6rem;
}

.main_list {
    display: flex;
    justify-content: space-around;
}

.list_ul {
    display: block;
    list-style: none;
}

.img_shop {
    width: 30rem;
    height: 30rem;
}

.img_list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video_container {
    width: 100%;
    text-align: center;
}

.video_container video {
    width: 50rem;
    height: 30rem;
}

.main_container {
    margin: 0 auto;
    max-width: 120rem;
    text-align: center;
}


/* Reto 2 */

.atributes_container {
    background-color: blue;
    display: inline-block;
    padding: 1rem;
    border: solid black;
}

.atributes {
    width: 35rem;
    height: 20rem;
    background-color: aquamarine;
    margin: 2rem;
    border-radius: 1rem;
}

.main_character {
    display: inline-block;
    background-color: red;
    padding: 1rem;
    border: solid black;
}

.layout {
    display: inline-block;
    width: 100%;
}

footer {
    margin: 2rem;
}

.header_menu p {
    display: inline-block;
}